body {margin: 0px}
	#header {
		color: white; 
		background-color: #1c2b36;
		width: 100%; 
		min-height: 30px;
		padding-top: 10px;
		border-bottom:2px black solid; 
	}
	#menu { 
		width:100% ; 
		min-height: 615px; 
		float: left;
		width: 15%; 
		background-color: #1c2b36;
		cursor: pointer;
	}
	#right_content_trang_chu {
		background-color: #c1c1c1; 
		float: left; 
		width: 85%; 
		min-height: 615px;
		margin-top: -33px;
	}
	#li1:hover #ul2 {
		width: 116px; 
		height: 60px; 
		display: block; 
		list-style: none;
		margin-top: 9%;
		margin-right:-20px; 
		background-color: #464b50; 
		position: relative; 
	}
	li #ul2 {
		display: none
	}
	li:hover {
		color: #45b2e6
	}	
	#li1 {
		float: right;  
		margin-right:20px ; 
		margin-top: -33px; 
	}
	#ul1 {height: 15px; list-style: none; float: right  }
	.li2 {height: 26px; font-size: 17px; margin-left:-40px; padding-top: 5px; cursor: pointer;color: white;width: 101px; padding-left: 10px; }
	.li3 { list-style: none;margin-left: -40px;height: 30px;padding-top: 10px;padding-left: 20px;}
	.li3:hover {background-color: #00897b; width: 112%; color: white}
	#a1 {color: white; text-decoration: none;}
	.a2 {color: white; text-decoration: none}
	
	
	#dang_ky_sach {
		background-color: rgba(255,255,255,0.9);
		border-radius: 6px;
		width: 56%;
		padding: 2%;
		margin-left: 2%
	}
	#main_content {
		width: 100%;
		padding-top: 3%;
		
	}
	#right_content {
		background-color: rgba(255,255,255,0.9);
		border-radius: 6px;
		width: 38%;
		padding: 2%;
		padding-top: 0%;
		float: right;
	}
	#left_content {
		background-color: rgba(255,255,255,0.9);
		border-radius: 6px;
		width: 58%;
		padding: 2%;
		padding-top: 0%;
		float: left;
	}
	
	#thong_ke_sach {
		background-color: rgba(255,255,255,0.9);
	    border-radius: 6px;
	    width: 100%;
	    padding: 2%;
	    padding-top: 0%;
	    float: left;
	}
	
	#thong_ke_sinh_vien {
		background-color: rgba(255,255,255,0.9);
	    border-radius: 6px;
	    width: 100%;
	    padding: 2%;
	    float: left;
	}

	.textbox {
		border-radius: 6px;
		height: 25px; 
		width: 93%; 
		box-shadow:none; 
		margin-bottom: 15px;
	}
	#button {
		border-radius: 30px; 
		width: 60px; 
		height: 30px; 
		font-weight: bold; 
		background-color: #484646;
		box-shadow: none;
		color: white;
	}
	#button:disabled {
		background-color: #eeeeee;
		color: black;
	}
	#login_button {
		border-radius: 30px; 
		width: 30%; 
		height: 30px; 
		font-weight: bold; 
		background-color: #484646; box-shadow: none;color:white}
	#main {
		border-radius: 8px;
		background-color: #ffffff; 
		height:300px; 
		width: 28%; 
		margin-left: 36%; 
		margin-top: 9%;
		font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	}
	.content {
		margin-left: 20px; 
		font-size: 1.5rem
	}